.Card {
    max-width: 550px;
    margin: 250px auto 20px;
    background-color: #eeeeee;
    display: flex;
    flex-direction: column;
    /* margin-left: auto;
    margin-right: auto; */
    padding: 25px;
    border-radius: 10px;
    box-shadow: -1px 5px 29px 6px rgba(0, 0, 0, 0.33);
    align-items: center;
    transition: 0.5s; /* Время эффекта */
}
.Card:hover{
    transform: scale(1.1)
}
.Title {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 35px;
    color: #1b1a1a;
}


@media(max-width: 768px) {
    .Card:hover{
        transform: none
    }

    .Card {
        margin: 110px auto 20px;
        padding: 25px 5px;
    }
}