.NavigationItem {
    width: auto;
    display:flex;
    height: 100%;
    align-items: center;
    text-align: center;
}

.NavigationItem a {
    height: 100%;
    padding: 16px 10px;
    text-decoration: none;
    color: #868080;
    font-size: 20px;
    font-family: 'Varela Round', sans-serif;
    width: 100%;
    position: relative;
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active {
    color: #40A4C8;
    background-color: #DFDFDF;

    
}

.number {
    padding: 1px 0 0 0;
    width: 22px;
    height: 22px;
    position: absolute;
    top: 2px;
    right: 0px;
    background-color: #fb3f4c;
    border-radius: 50%;
    color: white;
    font-size: 16px;
    opacity: 0.7;
}

@media(max-width: 1024px) {
    .number {
        right: 40%;
    }
}

@media(max-width: 680px) {
    .number {
        right: 35%;
    }
}

@media(max-width: 400px) {
    .number {
        right: 30%;
    }
}